<div id={{cart._id}} >
    <h1 style = "margin-left: 10%">Cart </h1>
    <div id="cart-container">
        {{#each products}}
            <div id="{{this.product._id}}" class="product-card">
                <div >{{this.product.title}}</div>
                <div>Quantity: {{this.quantity}}</div>
                <div>${{this.product.price}} each</div>
            </div>
        {{/each}}
        <div>Total:</div>
        <form action="/api/carts/{{cart._id}}/purchase" method="post">
            <button type= "submit" id="purchase-btn">Buy</button>
        </form>
        
    </div>
</div>
